body {
}
h1 {
    color: White;
    text-align: center;
    border: 1px solid #262d64;
    background-color: #000;
    font-family: DFKai-SB;
    font-style: italic;
    color: #808080;
}
.mainhead h2 {
    text-align: center;
    font-family: DFKai-SB;
    font-style: italic;
}
.nav2 {
    text-align: center;
    font-size: larger;
}
.nav2 a {
    color: Black;
    display: block;
    font-style: oblique;
}
.nav a {
    color: #000;
    text-align: right;
    display:block;
}
.logo {
    text-align: center;
    display: inline;
}
.head2 h2 {
    font-size: x-large;
    font-family: DFKai-SB;
    text-align: center;
    font-style: oblique;
    color: #808080;
}
.bios {
    text-align: center;
    font-family: DFKai-SB;
    font-style: italic;
}
.bios a {
    color: #000;
}
.bios h2{
    border: 1px solid #262d64;
    color: #808080;
    background-color: #000
}
.shows {
    text-align: center;
    font-family: DFKai-SB;
    font-style: italic;
}
.shows h3 {
    border: 1px solid #262d64;
    color: #808080;
    background-color: #000;
}